In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('IPL_Points_Table_Data.csv')
df

    Team  Played  Won  Lost  Tied  N/R  Net RR  Points  Year Status  Position
0     RR      14   11     3     0    0   0.632      22  2008      Q         1
1   KXIP      14   10     4     0    0   0.509      20  2008      Q         2
2    CSK      14    8     6     0    0  -0.192      16  2008      Q         3
3     DC      14    7     6     0    1   0.342      15  2008      Q         4
4     MI      14    7     7     0    0   0.570      14  2008      E         5
..   ...     ...  ...   ...   ...  ...     ...     ...   ...    ...       ...
63    RR      14    7     5     0    2   0.062      16  2015      Q         4
64   KKR      14    7     6     0    1   0.253      15  2015      E         5
65   SRH      14    7     7     0    0  -0.239      14  2015      E         6
66    DC      14    5     8     0    1  -0.049      11  2015      E         7
67  KXIP      14    3    11     0    0  -1.436       6  2015      E         8

[68 rows x 11 columns]

In [4]:
#top three teams based on points
top_3 = df.nlargest(3, 'Points')
print("Top 3 teams based on points:")
print(top_3[['Team', 'Points']])

Top 3 teams based on points:
   Team  Points
0    RR      22
34   DC      22
43  CSK      22

In [5]:
#extract the net run rate (net rr) column  
net_run_rate = df['Net RR']
print("Net Run Rate of all teams:")


print(net_run_rate)

Net Run Rate of all teams:
0     0.632
1     0.509
2    -0.192
3     0.342
4     0.570
      ...
63    0.062
64    0.253
65   -0.239
66   -0.049
67   -1.436
Name: Net RR, Length: 68, dtype: float64

In [6]:
df [["Team", "Won", "Lost", "Points"]]

    Team  Won  Lost  Points
0     RR   11     3      22
1   KXIP   10     4      20
2    CSK    8     6      16
3     DC    7     6      15
4     MI    7     7      14
..   ...  ...   ...     ...
63    RR    7     5      16
64   KKR    7     6      15
65   SRH    7     7      14
66    DC    5     8      11
67  KXIP    3    11       6

[68 rows x 4 columns]

##6. Filter Teams with Positive Net PR

In [7]:
df[df["Net RR"] > 0]

    Team  Played  Won  Lost  Tied  N/R  Net RR  Points  Year Status  Position
0     RR      14   11     3     0    0   0.632      22  2008      Q         1
1   KXIP      14   10     4     0    0   0.509      20  2008      Q         2
3     DC      14    7     6     0    1   0.342      15  2008      Q         4
4     MI      14    7     7     0    0   0.570      14  2008      E         5
8     DC      14   10     4     0    0   0.311      20  2009      Q         1
9    CSK      14    8     5     0    1   0.951      17  2009      Q         2
11   DEC      14    7     7     0    0   0.203      14  2009      Q         4
14    MI      14    5     8     0    1   0.297      11  2009      E         7
16    MI      14   10     4     0    0   1.084      20  2010      Q         1
18   CSK      14    7     7     0    0   0.274      14  2010      Q         3
19   RCB      14    7     7     0    0   0.219      14  2010      Q         4
20    DC      14    7     7     0    0   0.021      14  2010      E         5
24   RCB      14    9     4     0    1   0.326      19  2011      Q         1
25   CSK      14    9     5     0    0   0.443      18  2011      Q         2
26    MI      14    9     5     0    0   0.040      18  2011      Q         3
27   KKR      14    8     6     0    0   0.433      16  2011      Q         4
30   DEC      14    6     8     0    0   0.222      12  2011      E         7
34    DC      16   11     5     0    0   0.617      22  2012      Q         1
35   KKR      16   10     5     0    1   0.561      21  2012      Q         2
37   CSK      16    8     7     0    1   0.100      17  2012      Q         4
40    RR      16    7     9     0    0   0.201      14  2012      E         7
43   CSK      16   11     5     0    0   0.530      22  2013      Q         1
44    MI      16   11     5     0    0   0.441      22  2013      Q         2
45    RR      16   10     6     0    0   0.322      20  2013      Q         3
46   SRH      16   10     6     0    0   0.003      20  2013      Q         4
47   RCB      16    9     7     0    0   0.457      18  2013      E         5
48  KXIP      16    8     8     0    0   0.226      16  2013      E         6
52  KXIP      14   11     3     0    0   0.968      22  2014      Q         1
53   KKR      14    9     5     0    0   0.418      18  2014      Q         2
54   CSK      14    9     5     0    0   0.385      18  2014      Q         3
55    MI      14    7     7     0    0   0.095      14  2014      Q         4
56    RR      14    7     7     0    0   0.060      14  2014      E         5
60   CSK      14    9     5     0    0   0.709      18  2015      Q         1
62   RCB      14    7     5     0    2   1.037      16  2015      Q         3
63    RR      14    7     5     0    2   0.062      16  2015      Q         4
64   KKR      14    7     6     0    1   0.253      15  2015      E         5

In [8]:
df[df["Won"] > df["Lost"]]

    Team  Played  Won  Lost  Tied  N/R  Net RR  Points  Year Status  Position
0     RR      14   11     3     0    0   0.632      22  2008      Q         1
1   KXIP      14   10     4     0    0   0.509      20  2008      Q         2
2    CSK      14    8     6     0    0  -0.192      16  2008      Q         3
3     DC      14    7     6     0    1   0.342      15  2008      Q         4
8     DC      14   10     4     0    0   0.311      20  2009      Q         1
9    CSK      14    8     5     0    1   0.951      17  2009      Q         2
10   RCB      14    8     6     0    0  -0.191      16  2009      Q         3
16    MI      14   10     4     0    0   1.084      20  2010      Q         1
17   DEC      14    8     6     0    0  -0.297      16  2010      Q         2
24   RCB      14    9     4     0    1   0.326      19  2011      Q         1
25   CSK      14    9     5     0    0   0.443      18  2011      Q         2
26    MI      14    9     5     0    0   0.040      18  2011      Q         3
27   KKR      14    8     6     0    0   0.433      16  2011      Q         4
34    DC      16   11     5     0    0   0.617      22  2012      Q         1
35   KKR      16   10     5     0    1   0.561      21  2012      Q         2
36    MI      16   10     6     0    0  -0.100      20  2012      Q         3
37   CSK      16    8     7     0    1   0.100      17  2012      Q         4
38   RCB      16    8     7     0    1  -0.022      17  2012      E         5
43   CSK      16   11     5     0    0   0.530      22  2013      Q         1
44    MI      16   11     5     0    0   0.441      22  2013      Q         2
45    RR      16   10     6     0    0   0.322      20  2013      Q         3
46   SRH      16   10     6     0    0   0.003      20  2013      Q         4
47   RCB      16    9     7     0    0   0.457      18  2013      E         5
52  KXIP      14   11     3     0    0   0.968      22  2014      Q         1
53   KKR      14    9     5     0    0   0.418      18  2014      Q         2
54   CSK      14    9     5     0    0   0.385      18  2014      Q         3
60   CSK      14    9     5     0    0   0.709      18  2015      Q         1
61    MI      14    8     6     0    0  -0.043      16  2015      Q         2
62   RCB      14    7     5     0    2   1.037      16  2015      Q         3
63    RR      14    7     5     0    2   0.062      16  2015      Q         4
64   KKR      14    7     6     0    1   0.253      15  2015      E         5

In [9]:
df[df["Points"] > 16]

    Team  Played  Won  Lost  Tied  N/R  Net RR  Points  Year Status  Position
0     RR      14   11     3     0    0   0.632      22  2008      Q         1
1   KXIP      14   10     4     0    0   0.509      20  2008      Q         2
8     DC      14   10     4     0    0   0.311      20  2009      Q         1
9    CSK      14    8     5     0    1   0.951      17  2009      Q         2
16    MI      14   10     4     0    0   1.084      20  2010      Q         1
24   RCB      14    9     4     0    1   0.326      19  2011      Q         1
25   CSK      14    9     5     0    0   0.443      18  2011      Q         2
26    MI      14    9     5     0    0   0.040      18  2011      Q         3
34    DC      16   11     5     0    0   0.617      22  2012      Q         1
35   KKR      16   10     5     0    1   0.561      21  2012      Q         2
36    MI      16   10     6     0    0  -0.100      20  2012      Q         3
37   CSK      16    8     7     0    1   0.100      17  2012      Q         4
38   RCB      16    8     7     0    1  -0.022      17  2012      E         5
43   CSK      16   11     5     0    0   0.530      22  2013      Q         1
44    MI      16   11     5     0    0   0.441      22  2013      Q         2
45    RR      16   10     6     0    0   0.322      20  2013      Q         3
46   SRH      16   10     6     0    0   0.003      20  2013      Q         4
47   RCB      16    9     7     0    0   0.457      18  2013      E         5
52  KXIP      14   11     3     0    0   0.968      22  2014      Q         1
53   KKR      14    9     5     0    0   0.418      18  2014      Q         2
54   CSK      14    9     5     0    0   0.385      18  2014      Q         3
60   CSK      14    9     5     0    0   0.709      18  2015      Q         1

In [11]:
df[(df["Status"] == "Q") & (df["Net RR"] > 0)]

    Team  Played  Won  Lost  Tied  N/R  Net RR  Points  Year Status  Position
0     RR      14   11     3     0    0   0.632      22  2008      Q         1
1   KXIP      14   10     4     0    0   0.509      20  2008      Q         2
3     DC      14    7     6     0    1   0.342      15  2008      Q         4
8     DC      14   10     4     0    0   0.311      20  2009      Q         1
9    CSK      14    8     5     0    1   0.951      17  2009      Q         2
11   DEC      14    7     7     0    0   0.203      14  2009      Q         4
16    MI      14   10     4     0    0   1.084      20  2010      Q         1
18   CSK      14    7     7     0    0   0.274      14  2010      Q         3
19   RCB      14    7     7     0    0   0.219      14  2010      Q         4
24   RCB      14    9     4     0    1   0.326      19  2011      Q         1
25   CSK      14    9     5     0    0   0.443      18  2011      Q         2
26    MI      14    9     5     0    0   0.040      18  2011      Q         3
27   KKR      14    8     6     0    0   0.433      16  2011      Q         4
34    DC      16   11     5     0    0   0.617      22  2012      Q         1
35   KKR      16   10     5     0    1   0.561      21  2012      Q         2
37   CSK      16    8     7     0    1   0.100      17  2012      Q         4
43   CSK      16   11     5     0    0   0.530      22  2013      Q         1
44    MI      16   11     5     0    0   0.441      22  2013      Q         2
45    RR      16   10     6     0    0   0.322      20  2013      Q         3
46   SRH      16   10     6     0    0   0.003      20  2013      Q         4
52  KXIP      14   11     3     0    0   0.968      22  2014      Q         1
53   KKR      14    9     5     0    0   0.418      18  2014      Q         2
54   CSK      14    9     5     0    0   0.385      18  2014      Q         3
55    MI      14    7     7     0    0   0.095      14  2014      Q         4
60   CSK      14    9     5     0    0   0.709      18  2015      Q         1
62   RCB      14    7     5     0    2   1.037      16  2015      Q         3
63    RR      14    7     5     0    2   0.062      16  2015      Q         4